@charset "UTF-8";
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013ÔÇô2014 thoughtbot, inc.
 * MIT License */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

.wrapped {
  margin-left: auto;
  margin-right: auto; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.centered-navigation {
  background-color: #FBCA0E;
  border-bottom: 1px solid #e7b804;
  max-height: 25px;
  width: 100%;
  z-index: 9999;
  position: absolute; }
  @media screen and (min-width: 53.75em) {
    .centered-navigation {
      margin-top: 100px;
      background-color: transparent;
      border: none; } }
  .centered-navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 25px;
    padding-left: 1em; }
    .centered-navigation .mobile-logo img {
      max-height: 25px;
      padding: .8em 0; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .mobile-logo {
        display: none; } }
  .centered-navigation .centered-navigation-mobile-menu {
    color: rgba(51, 51, 51, 0.7);
    display: block;
    float: right;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation .centered-navigation-mobile-menu {
        display: none; } }
    .centered-navigation .centered-navigation-mobile-menu:hover {
      color: #333; }
  .centered-navigation .centered-navigation-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .centered-navigation ul.centered-navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999; }
    .centered-navigation ul.centered-navigation-menu.show {
      display: block; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul.centered-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 53.75em) {
    .centered-navigation .nav-link:first-child {
      margin-left: 2.2em; } }
  .centered-navigation ul li.nav-link {
    background: #FBCA0E;
    display: block;
    line-height: 25px;
    text-align: right;
    z-index: 9999; }
    .centered-navigation ul li.nav-link a {
      color: #FBCA0E;
      display: inline-block;
      text-decoration: none; }
      .centered-navigation ul li.nav-link a:not(.logo):hover {
        background-color: #FBCA0E;
        color: #76A9AA; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation ul li.nav-link {
        background: transparent;
        float: right;
        line-height: 25px;
        border: #FBCA0E 3px solid; }
        .centered-navigation ul li.nav-link a {
          padding: 7px; }
          .centered-navigation ul li.nav-link a:not(.logo) {
            padding: 12px; } }
  .centered-navigation li.logo.nav-link {
    display: none;
    line-height: 0;
    border: none; }
    .centered-navigation li.logo.nav-link a {
      height: 60px; }
    @media screen and (min-width: 53.75em) {
      .centered-navigation li.logo.nav-link {
        display: block;
        background-color: transparent;
        float: left; } }
  .centered-navigation .logo img {
    margin-top: -3.33333em;
    max-height: 10em;
    float: left; }

.parallax-window {
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%; }

.parallax-static-content {
  color: #9A9A8A;
  padding: 2em 0 15em 0;
  position: relative;
  z-index: 9; }

.parallax-background {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  -webkit-filter: brightness(40%) contrast(70%);
  background: url("../img/makers.jpg") repeat;
  background-size: cover;
  background-position: top;
  height: 200vh;
  left: 0;
  position: absolute;
  top: -33.33333vh;
  width: 100%; }

.hero-logo img {
  height: 7.5em;
  margin-bottom: 2.5em;
  border-radius: 150px; }

.hero-inner {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 3em;
  margin: auto;
  text-align: center; }
  .hero-inner::after {
    clear: both;
    content: "";
    display: table; }
  .hero-inner::after {
    clear: both;
    content: "";
    display: table; }

.hero-copy h1 {
  color: #76A9AA;
  font-size: 4em;
  width: 60%;
  line-height: 69px;
  text-align: left;
  margin-top: 220px; }
.hero-copy p {
  color: #FAFAF2;
  font-size: 1.3em;
  text-align: left;
  width: 50%; }
.hero-copy a {
  color: #FAFAF2;
  font-size: 1.5em;
  position: absolute;
  text-align: center;
  bottom: 20px; }
.hero-copy a:hover {
  color: #76A9AA; }

label {
  cursor: pointer;
  margin: 0; }

.modal h1 {
  margin: 0; }
.modal p {
  color: #333;
  line-height: 1.5; }
.modal label img {
  border-radius: 150px;
  display: block;
  max-width: 300px; }
.modal input[type="checkbox"] {
  display: none; }
.modal .modal-trigger {
  padding: 0.8em 1em; }
.modal .modal-open {
  overflow: hidden; }
.modal .modal-window {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  padding-top: 0.6em;
  text-align: left;
  visibility: hidden;
  z-index: 99999999999; }
  @media screen and (min-width: 53.75em) {
    .modal .modal-window {
      padding-top: 10em; } }
  .modal .modal-window .modal-bg {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    cursor: pointer; }
.modal .modal-close {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  height: 1.5em;
  width: 1.5em;
  background: white;
  cursor: pointer; }
  .modal .modal-close:after, .modal .modal-close:before {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 0;
    left: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 1.5em;
    width: 0.15em;
    background: #DDD;
    content: '';
    display: block;
    margin: -3px 0 0 -1px; }
  .modal .modal-close:hover:after, .modal .modal-close:hover:before {
    background: #c4c4c4; }
  .modal .modal-close:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
.modal .modal-inner {
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  background: white;
  border-radius: 3px;
  margin-top: 0;
  margin: auto;
  max-height: 95%;
  overflow: auto;
  padding: 1.5em;
  position: relative;
  width: 95%; }
  @media screen and (min-width: 40em) {
    .modal .modal-inner {
      max-height: 70%;
      padding: 3em;
      width: 60%; } }
  @media screen and (min-width: 53.75em) {
    .modal .modal-inner {
      width: 50%; } }
  .modal .modal-inner h1 {
    color: #333;
    margin-bottom: 0.6em;
    text-align: left;
    text-transform: capitalize; }
  .modal .modal-inner .modal-intro {
    font-weight: 800; }
  .modal .modal-inner .modal-content {
    color: #333; }
    @media screen and (min-width: 40em) {
      .modal .modal-inner .modal-content {
        -webkit-columns: 2 8em;
        -moz-columns: 2 8em;
        columns: 2 8em; } }
  .modal .modal-inner a.cta {
    color: white;
    display: inline-block;
    margin-right: 0.5em;
    margin-top: 1em; }
    .modal .modal-inner a.cta:last-child {
      padding: 0 2em; }
.modal .modal-state:checked + .modal-window {
  opacity: 1;
  visibility: visible; }
.modal .modal-state:checked + .modal-window .modal-inner {
  top: 0.5em; }

.video {
  width: 50vw; }

.video-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative; }
  .video-wrapper embed,
  .video-wrapper object,
  .video-wrapper iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%; }

.bullet-list {
  max-width: 60em;
  margin-top: 60px; }

.bullets {
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1.5;
  margin: 1em;
  overflow: auto; }
  .bullets h2 {
    margin: 0; }
  .bullets li {
    list-style: none; }
  .bullets p {
    color: #333;
    line-height: 1.5; }
  .bullets img {
    max-width: 100%; }
  .bullets .bullet {
    -webkit-flex-basis: 15em;
    -moz-flex-basis: 15em;
    flex-basis: 15em;
    -ms-flex-preferred-size: 15em;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    text-align: center; }
  .bullets .bullet-icon {
    background: #477DCA;
    border-radius: 50%;
    clear: both;
    height: 8.5em;
    padding: 2.125em;
    width: 8.5em; }
  .bullets .bullet-icon-1 {
    background: #FBCA0E; }
  .bullets .bullet-icon-2 {
    background: #76A9AA; }
    .bullets .bullet-icon-2 img {
      width: 75%;
      margin-top: -10px; }
  .bullets .bullet-icon-3 {
    background: #88C247; }
  .bullets .bullet-content {
    margin-bottom: 2em; }
  .bullets h2 {
    display: inline-block;
    font-size: 1.54545em;
    margin-bottom: 1.41667em;
    padding-top: 1.21429em; }

.footer {
  background: #76A9AA;
  padding: 3em 1.618em;
  width: 100%; }
  .footer ul {
    padding: 0; }
  .footer li {
    list-style: none;
    line-height: 1.5em; }
  .footer a {
    text-decoration: none;
    color: #FBCA0E; }
    .footer a:hover {
      color: #FCD1AF; }
  .footer .footer-logo {
    margin-bottom: 2em;
    text-align: center; }
    .footer .footer-logo img {
      height: 8em; }
  .footer .footer-links {
    margin-bottom: 1.5em; }
    .footer .footer-links::after {
      clear: both;
      content: "";
      display: table; }
    @media screen and (min-width: 40em) {
      .footer .footer-links {
        margin-left: 25.58941%; } }
  .footer hr {
    border: 1px solid rgba(249, 249, 240, 0.7);
    margin: 0 auto 1.5em;
    width: 12em; }
  .footer p {
    color: #f9f9f0;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center; }

@font-face {
  font-family: 'GeosansLight';
  src: url("../fonts/GeosansLight.eot");
  src: url("../fonts/GeosansLight.eot") format("embedded-opentype"), url("../fonts/GeosansLight.woff2") format("woff2"), url("../fonts/GeosansLight.woff") format("woff"), url("../fonts/GeosansLight.ttf") format("truetype"), url("../fonts/GeosansLight.svg#GeosansLight") format("svg"); }
@font-face {
  font-family: 'woodcutterMMXII';
  src: url("../fonts/woodcutterMMXII.eot");
  src: url("../fonts/woodcutterMMXII.eot") format("embedded-opentype"), url("../fonts/woodcutterMMXII.woff2") format("woff2"), url("../fonts/woodcutterMMXII.woff") format("woff"), url("../fonts/woodcutterMMXII.ttf") format("truetype"), url("../fonts/woodcutterMMXII.svg#woodcutterMMXII") format("svg"); }
@font-face {
  font-family: 'geared_slabregular';
  src: url("../fonts/gearedslab-webfont.eot");
  src: url("../fonts/gearedslab-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gearedslab-webfont.woff2") format("woff2"), url("../fonts/gearedslab-webfont.woff") format("woff"), url("../fonts/gearedslab-webfont.ttf") format("truetype"), url("../fonts/gearedslab-webfont.svg#geared_slabregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "GeosansLight", serif; }

.brand {
  font-family: 'woodcutterMMXII'; }

h1, h2, h3, h4, .nav-link {
  font-family: 'geared_slabregular'; }

#tussen {
  background-color: #FCD1AF;
  text-align: center;
  min-height: 160px;
  margin-bottom: 50px;
  margin-top: -21px;
  padding: 15px; }
  #tussen p {
    width: 50vw;
    font-size: 1.2em; }

#fotoslider {
  display: block;
  width: 50vw;
  padding-left: 25px;
  margin-bottom: 20px; }
  #fotoslider img {
    float: left;
    width: 250px;
    margin: 15px; }

/*# sourceMappingURL=app.css.map */
